/*////////////////
//
// Filename: future.css
// Author: Daniel Long
// Course: ICS4U1
// Description: Contains the relevant css for the future page
//
////////////////*/

/* Elements */
img {
  border-radius: 10px;
  opacity: 0;
  transition: 1s;
}

/* Classes */
.img-subtitle {
  color: rgb(200, 200, 200);
  font-family: "Montserrat";
  font-size: 16px;
  text-align: center;
  margin-bottom: 100px;
  transition: 1s;
  opacity: 0;
}
/* IDs */
#title {
  color: white;
  font-family: "Montserrat Light"; 
  font-size: 70px; 
  margin: 100px 20px 0px 20px;
  opacity: 0;
  text-align: center;
  transition: 1s;
}

#subtitle {
  color: white;
  font-family: "Montserrat Light"; 
  font-size: 20px; 
  margin-bottom: 100px;
  opacity: 0;
  text-align: center;
  transition: 1s;
}